body {
    width: 7.5rem;
}

h3 {
    text-align: center;
}

.focus, .start {
    background-color: green;
}

.allways, .stop {
    background-color: red;
}

div {
    display: flex;
    justify-content: center;
}